# templates/triggers/event-listener.yaml
# Dynamic EventListener that references all enabled component triggers

{{- if and .Values.features.eventListener.enabled (include "wazuh-backup.hasEnabledComponents" .) }}
apiVersion: triggers.tekton.dev/v1beta1
kind: EventListener
metadata:
  name: {{ include "common.names.fullname" $ }}-listener
  namespace: {{ include "common.names.namespace" $ }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: eventlistener
  annotations:
    {{- include "common.annotations.standard" ( dict "customAnnotations" .Values.commonAnnotations "context" $ ) | nindent 4 }}
spec:
  serviceAccountName: {{ include "wazuh-backup.serviceAccountName" $ | trim }}
  resources:
    kubernetesResource:
      serviceType: ClusterIP
  triggers:
{{- range .Values.backup.components }}
{{- if .enabled }}
    - name: {{ .name }}-trigger-ref
      triggerRef: {{ printf "%s-%s-trigger" (include "common.names.fullname" $) .name }}
{{- end }}
{{- end }}

---
# Service - exposes the EventListener
apiVersion: v1
kind: Service
metadata:
  name: {{ include "wazuh-backup.eventListenerService" $ }}
  namespace: {{ include "common.names.namespace" $ }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: eventlistener-service
  annotations:
    {{- include "common.annotations.standard" ( dict "customAnnotations" .Values.commonAnnotations "context" $ ) | nindent 4 }}
spec:
  selector:
    app.kubernetes.io/managed-by: EventListener
    app.kubernetes.io/part-of: Triggers
    eventlistener: {{ include "common.names.fullname" $ }}-listener
  ports:
    - name: http-listener
      port: 8080
      protocol: TCP
      targetPort: 8080
  type: ClusterIP
{{- end }}