# templates/triggers/triggers.yaml
# Dynamic triggers for all enabled components

{{- if .Values.features.triggers.enabled }}
{{- range .Values.backup.components }}
{{- if .enabled }}
---
apiVersion: triggers.tekton.dev/v1beta1
kind: Trigger
metadata:
  name: {{ include "common.names.fullname" $ }}-{{ .name }}-trigger
  namespace: {{ include "common.names.namespace" $ }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" (merge .additionalLabels $.Values.commonLabels) "context" $ ) | nindent 4 }}
    component: {{ .name }}
  annotations:
    {{- include "common.annotations.standard" ( dict "customAnnotations" (merge .additionalAnnotations $.Values.commonAnnotations) "context" $ ) | nindent 4 }}
spec:
  bindings:
    - ref: {{ include "common.names.fullname" $ }}-{{ .name }}-binding
  template:
    ref: {{ include "common.names.fullname" $ }}-{{ .name }}-template
  interceptors:
    - name: "validate-component"
      ref:
        name: "cel"
      params:
        - name: "filter"
          value: "body.component == '{{ .name }}'"
{{- end }}
{{- end }}
{{- end }}
