# templates/triggers/triggerbindings.yaml
# Dynamic trigger bindings for all enabled components

{{- if .Values.features.triggers.enabled }}
{{- range .Values.backup.components }}
{{- if .enabled }}
---
apiVersion: triggers.tekton.dev/v1beta1
kind: TriggerBinding
metadata:
  name: {{ include "common.names.fullname" $ }}-{{ .name }}-binding
  namespace: {{ include "common.names.namespace" $ }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" (merge .additionalLabels $.Values.commonLabels) "context" $ ) | nindent 4 }}
    component: {{ .name }}
  annotations:
    {{- include "common.annotations.standard" ( dict "customAnnotations" (merge .additionalAnnotations $.Values.commonAnnotations) "context" $ ) | nindent 4 }}
spec:
  params:
    - name: s3BucketName
      value: $(body.s3BucketName)
    - name: s3EndpointUrl
      value: $(body.s3EndpointUrl)
    - name: triggeredBy
      value: $(body.triggeredBy)
{{- end }}
{{- end }}
{{- end }}
