{{- if .Values.features.triggers.enabled }}
{{- range .Values.backup.components }}
{{- if .enabled }}
  {{- $component := . }}
  {{- $replicas := int (default 1 .replicas) }}
  {{- range $index := until $replicas }}
---
apiVersion: triggers.tekton.dev/v1beta1
kind: TriggerTemplate
metadata:
  name: {{ include "common.names.fullname" $ }}-{{ $component.name }}-{{ $index }}-template
  namespace: {{ include "common.names.namespace" $ }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" (merge $component.additionalLabels $.Values.commonLabels) "context" $ ) | nindent 4 }}
    component: {{ $component.name }}
    replica-index: "{{ $index }}"
  annotations:
    {{- include "common.annotations.standard" ( dict "customAnnotations" (merge $component.additionalAnnotations $.Values.commonAnnotations) "context" $ ) | nindent 4 }}
spec:
  params:
    - name: s3BucketName
      description: "S3 bucket for backups"
      default: "{{ $.Values.backup.s3.bucketName }}"
    - name: s3EndpointUrl
      description: "Optional S3 endpoint URL"
      default: "{{ $.Values.backup.s3.endpointUrl }}"
    - name: triggeredBy
      description: "How the backup was triggered"
      default: "manual"
  resourcetemplates:
    - apiVersion: tekton.dev/v1beta1
      kind: PipelineRun
      metadata:
        generateName: {{ include "common.names.fullname" $ }}-{{ $component.name }}-{{ $index }}-
        namespace: {{ include "common.names.namespace" $ }}
        labels:
          {{- include "common.labels.standard" ( dict "customLabels" (merge $component.additionalLabels $.Values.commonLabels) "context" $ ) | nindent 10 }}
          component: {{ $component.name }}
          replica-index: "{{ $index }}"
          triggered-by: "$(tt.params.triggeredBy)"
        annotations:
          backup.wazuh.io/component: "{{ $component.name }}-{{ $index }}"
          backup.wazuh.io/triggered-by: "$(tt.params.triggeredBy)"
      spec:
        serviceAccountName: {{ include "common.names.fullname" $ }}-sa
        podTemplate:
          securityContext:
            fsGroup: 0
        {{- if $.Values.features.gracefulShutdown.enabled }}
        pipelineRef:
          name: {{ include "common.names.fullname" $ }}-component-backup-graceful
        params:
          - name: componentName
            value: "{{ $component.name }}-{{ $index }}"
          - name: podName
            value: {{ include "wazuh-backup.podName" (dict "component" $component "index" $index "context" $) | quote }}
          - name: podNamespace
            value: "{{ $.Values.global.namespace }}"
          - name: containerName
            value: "{{ $.Values.backup.gracefulShutdown.containerName }}"
          - name: wazuhControlPath
            value: "{{ $.Values.backup.gracefulShutdown.wazuhControlPath }}"
          - name: includePaths
            value: "{{ include "backup.includePaths" $component }}"
          - name: backupSubdir
            value: {{ include "wazuh-backup.replicaSubdir" (dict "component" $component "index" $index "context" $) | quote }}
          - name: s3BucketName
            value: "$(tt.params.s3BucketName)"
          - name: s3EndpointUrl
            value: "$(tt.params.s3EndpointUrl)"
        {{- else }}
        pipelineRef:
          name: {{ include "common.names.fullname" $ }}-component-backup
        params:
          - name: componentName
            value: "{{ $component.name }}-{{ $index }}"
          - name: statefulsetName
            value: "{{ $component.statefulsetName }}"
          - name: statefulsetNamespace
            value: "{{ $.Values.global.namespace }}"
          - name: replicas
            value: "{{ $component.replicas }}"
          - name: sourcePvcName
            value: {{ include "wazuh-backup.pvcName" (dict "component" $component "index" $index "context" $) | quote }}
          - name: sourcePvcPath
            value: "{{ include "backup.sourcePath" $component }}"
          - name: includePaths
            value: "{{ include "backup.includePaths" $component }}"
          - name: excludePatterns
            value: "{{ include "backup.excludePatterns" $component }}"
          - name: backupSubdir
            value: {{ include "wazuh-backup.replicaSubdir" (dict "component" $component "index" $index "context" $) | quote }}
          - name: s3BucketName
            value: "$(tt.params.s3BucketName)"
          - name: s3EndpointUrl
            value: "$(tt.params.s3EndpointUrl)"
        {{- end }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
