_meta:
  type: "config"
  config_version: 2
  
config:
  dynamic:
    authc:
      basic_internal_auth_domain:
        http_enabled: true
        transport_enabled: true
        order: 0
        http_authenticator:
          type: basic
          challenge: false
        authentication_backend:
          type: internal
      
      {{ with $.Values.oidc }}
      openid_auth_domain:
        http_enabled: true
        transport_enabled: true
        order: 1
        http_authenticator:
          type: openid
          challenge: false
          config:
            subject_key: 'preferred_username'
            roles_key: 'wazuh_roles'
            
            openid_connect_url: {{ include "common.tplvalues.render" (dict "value" .openid_connect_url "context" $) }}
        authentication_backend:
          type: noop
      {{ end }}