dashboard:
  ingress:
    enabled: true
    className: gce
    annotations:
      kubernetes.io/ingress.class: "gce"

indexer:
  replicas: 1
  additionalAnnotations:
    app-group: '{{ include "common.names.fullname" $ }}-indexer'
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            topologyKey: kubernetes.io/hostname
            labelSelector:
              matchLabels:
                app-group: '{{ include "common.names.fullname" $ }}-indexer'

worker:
  replicaCount: 1
  additionalAnnotations:
    app-group: '{{ include "common.names.fullname" $ }}-manager'
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            topologyKey: kubernetes.io/hostname
            labelSelector:
              matchLabels:
                app-group: '{{ include "common.names.fullname" $ }}-manager'

worker_integrations:
  replicaCount: 1
  additionalAnnotations:
    app-group: '{{ include "common.names.fullname" $ }}-manager'
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            topologyKey: kubernetes.io/hostname
            labelSelector:
              matchLabels:
                app-group: '{{ include "common.names.fullname" $ }}-manager'

master:
  replicaCount: 1
  additionalAnnotations:
    app-group: '{{ include "common.names.fullname" $ }}-manager'
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            topologyKey: kubernetes.io/hostname
            labelSelector:
              matchLabels:
                app-group: '{{ include "common.names.fullname" $ }}-manager'