worker:
  initContainers:
    permission-fix:
      image: busybox
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          cpu: 100m
          memory: 256Mi
      command:
        - /bin/sh
        - -c
        - |
          set -ex
          # Create user and group for wazuh
          addgroup -S -g 999 wazuh
          adduser -S wazuh -G wazuh -u 999
          
          chown -R wazuh:wazuh /var/lib/etc

          chown -R root:wazuh /var/ossec/integrations
          chmod -R u=rwx,g=rx,o= /var/ossec/integrations
      volumeMounts:
        - name: '{{ include "common.names.fullname" $ }}-manager-worker'
          mountPath: /var/lib/etc
        - name: '{{ include "common.names.fullname" $ }}-manager-worker'
          mountPath: /var/ossec/integrations
          subPath: wazuh/var/ossec/integrations

worker_agentless:
  initContainers:
    permission-fix:
      image: busybox
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          cpu: 100m
          memory: 256Mi
      command:
        - /bin/sh
        - -c
        - |
          set -ex
          # Create user and group for wazuh
          addgroup -S -g 999 wazuh
          adduser -S wazuh -G wazuh -u 999
          
          chown -R wazuh:wazuh /var/lib/etc

          chown -R root:wazuh /var/ossec/agentless
          chmod -R u=rwx,g=rx,o= /var/ossec/agentless
      volumeMounts:
        - name: '{{ include "common.names.fullname" $ }}-manager-agentless'
          mountPath: /var/lib/etc
        - name: '{{ include "common.names.fullname" $ }}-manager-agentless'
          mountPath: /var/ossec/agentless
          subPath: wazuh/var/ossec/agentless

master:
  initContainers:
    permission-fix:
      image: busybox
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          cpu: 100m
          memory: 256Mi
      command:
        - /bin/sh
        - -c
        - |
          set -ex
          # Create user and group for wazuh
          addgroup -S -g 999 wazuh
          adduser -S wazuh -G wazuh -u 999
          
          chown -R wazuh:wazuh /var/lib/etc
          
          mkdir -p /var/lib/backup/wazuh/var/ossec/backup/db
          chown -R wazuh:wazuh /var/lib/backup
          chmod -R a+w /var/lib/backup
          
          chown -R wazuh:wazuh /var/lib/snort
          chown -R wazuh:wazuh /var/lib/owasp-zap

          chown -R root:wazuh /var/ossec/integrations
          chmod -R u=rwx,g=rx,o= /var/ossec/integrations

          chmod 640 /var/ossec/etc/authd.pass
          chown root:wazuh /var/ossec/etc/authd.pass
      volumeMounts:
        - name: manager-backup
          mountPath: /var/lib/backup
        - name: snort-alerts
          mountPath: /var/lib/snort
        - name: owasp-zap-alerts
          mountPath: /var/lib/owasp-zap
        - name: '{{ include "common.names.fullname" $ }}-manager-master'
          mountPath: /var/lib/etc
        - name: '{{ include "common.names.fullname" $ }}-manager-master'
          mountPath: /var/ossec/integrations
          subPath: wazuh/var/ossec/integrations
        - name: wazuh-config-temp
          mountPath: /var/ossec/etc/authd.pass

