storageClasses:
  '{{ include "wazuh.storageClassName" $ }}':
    allowVolumeExpansion: true
    parameters:
      type: pd-balanced
    provisioner: pd.csi.storage.gke.io
    reclaimPolicy: Delete
    volumeBindingMode: WaitForFirstConsumer
  '{{ include "common.names.fullname" $ }}-rwx':
    parameters:
      tier: standard
      network: observe-prod-vpc
    enabled: true
    provisioner: filestore.csi.storage.gke.io
    reclaimPolicy: Delete
    volumeBindingMode: WaitForFirstConsumer
    allowVolumeExpansion: true
    
extraVolumeConfigs:
  '{{ include "common.names.fullname" $ }}-manager-backup':
    storageClassName: '{{ include "common.names.fullname" $ }}-rwx'
    accessModes:
      - ReadWriteMany
  snort-alerts:
    storageClassName: '{{ include "common.names.fullname" $ }}-rwx'
    accessModes:
      - ReadWriteMany
  owasp-zap-alerts:
    storageClassName: '{{ include "common.names.fullname" $ }}-rwx'
    accessModes:
      - ReadWriteMany