storageClasses:
  '{{ include "wazuh.storageClassName" $ }}':
    enabled: false
  '{{ include "common.names.fullname" $ }}-ebs':
    enabled: true
    provisioner: ebs.csi.aws.com
    parameters:
      encrypted: 'true'
      type: gp3
    volumeBindingMode: WaitForFirstConsumer
    reclaimPolicy: Retain

indexer:
  persistence:
    storageClassName: '{{ include "common.names.fullname" $ }}-ebs'

worker:
  persistence:
    storageClassName: '{{ include "common.names.fullname" $ }}-ebs'

worker_agentless:
  persistence:
    storageClassName: '{{ include "common.names.fullname" $ }}-ebs'

master:
  persistence:
    storageClassName: '{{ include "common.names.fullname" $ }}-ebs'