apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" $ }}-filebeat-config
  annotations:
    {{- include "common.annotations.standard" ( dict "customAnnotations" $.Values.commonAnnotations "context" $ ) | nindent 4 }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" $.Values.commonLabels "context" $ ) | nindent 4 }}
data:
  filebeat.yml: |
    # Wazuh - Filebeat configuration file
    filebeat.modules:
      - module: wazuh
        alerts:
          enabled: true
        archives:
          enabled: {{ .Values.filebeat.archives.enabled | default false }}

    setup.template.json.enabled: true
    setup.template.overwrite: true
    setup.template.json.path: '/etc/filebeat/wazuh-template.json'
    setup.template.json.name: 'wazuh'

    # Disable ILM - OpenSearch does not support it
    setup.ilm.enabled: false

    output.elasticsearch:
      hosts: ['https://{{ include "common.names.fullname" $ }}-indexer-api:9200']
      username: '${INDEXER_USERNAME:admin}'
      password: '${INDEXER_PASSWORD:{{ if .Values.indexer.auth }}{{ .Values.indexer.auth.password }}{{ else }}changeme{{ end }}}'
      ssl.verification_mode: '{{ .Values.filebeat.ssl.verification_mode | default "full" }}'
      ssl.certificate_authorities: ['/etc/ssl/root-ca.pem']
      ssl.certificate: '/etc/ssl/filebeat.pem'
      ssl.key: '/etc/ssl/filebeat.key'

    logging.metrics.enabled: true

    seccomp:
      default_action: allow
      syscalls:
      - action: allow
        names:
        - rseq