apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" $ }}-wazuh-conf
  annotations:
    {{- include "common.annotations.standard" ( dict "customAnnotations" $.Values.commonAnnotations "context" $ ) | nindent 4 }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" $.Values.commonLabels "context" $ ) | nindent 4 }}
data:
  {{ $template := $.Files.Get "files/configs/template.config.conf.xml" -}}
  "template.config.xml": |
    {{ include "common.tplvalues.render" (dict "value" $template "context" $) | nindent 6 }}
  "0004-custom-decoder.xml":  |
    {{ $.Files.Get "files/configs/decoder.owasp_zap.xml" | nindent 6 }}
    {{ $.Files.Get "files/configs/decoder.trivy.xml" | nindent 6 }}
    {{ $.Files.Get "files/configs/decoder.yara.xml" | nindent 6 }}
    {{ $.Files.Get "files/configs/decoder.docker.xml" | nindent 6 }}
  "0005-audit-mitre_rules.xml":  |
    {{ $.Files.Get "files/configs/rules.audit-mitre.xml" | nindent 6 }}

  "7012-docker-runtime.xml":  |
    {{ $.Files.Get "files/configs/rules.docker-runtime.xml" | nindent 6 }}

  {{- if and $.Values.cluster.config $.Values.cluster.config.docker $.Values.cluster.config.docker.enabled }}
  "docker-agent.xml": |
    <agent_config>
      <wodle name="docker-listener">
        <disabled>{{ $.Values.cluster.config.docker.listener.disabled }}</disabled>
        <attempts>{{ $.Values.cluster.config.docker.listener.attempts }}</attempts>
        <run_on_start>{{ $.Values.cluster.config.docker.listener.run_on_start }}</run_on_start>
      </wodle>
      {{- if $.Values.cluster.config.docker.logCollection.enabled }}
      <localfile>
        <log_format>{{ $.Values.cluster.config.docker.logCollection.log_format }}</log_format>
        <location>{{ $.Values.cluster.config.docker.logCollection.location }}</location>
      </localfile>
      {{- end }}
    </agent_config>
  {{- end }}

  {{ range $k, $v := $.Values.cluster.decoders }}
    {{- $f := include "common.tplvalues.render" (dict "value" $v "context" $) -}}
  {{ printf "0003-%s" $k | quote | nindent 2 }}: |
    {{ include "common.tplvalues.render" (dict "value" $f "context" $) | nindent 6 }}
  {{- end }}
  
  "local_rules.xml":  |
    {{ $.Files.Get "files/configs/rules.snort.xml" | nindent 6 }}
    {{ $.Files.Get "files/configs/rules.syscheck.xml" | nindent 6 }}
    {{ $.Files.Get "files/configs/rules.trivy.xml" | nindent 6 }}
    {{ $.Files.Get "files/configs/rules.yara.xml" | nindent 6 }}
    {{ $.Files.Get "files/configs/rules.false-positive.xml" | nindent 6 }}
    {{ $.Files.Get "files/configs/rules.overwrite.xml" | nindent 6 }}
    
  {{ range $k, $v := $.Values.cluster.rules }}
    {{- $f := include "common.tplvalues.render" (dict "value" $v "context" $) -}}
  {{ printf "0003-%s" $k | quote | nindent 2 }}: |
    {{ include "common.tplvalues.render" (dict "value" $f "context" $) | nindent 6 }}
  {{- end }}