{{- with .Values.apiCred.auth }}
{{- if not $.Values.apiCred.authSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "secret.api-auth" $ }}
  annotations:
    {{- include "common.annotations.standard" ( dict "customAnnotations" $.Values.commonAnnotations "context" $ ) | nindent 4 }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" $.Values.commonLabels "context" $ ) | nindent 4 }}
stringData:
  API_USERNAME: '{{ .username }}'
  API_PASSWORD: '{{ .password }}'
{{- end }}
{{- end }}
