{{- with .Values.integration.aws -}}
{{- if .enable -}}
{{- if and .secrets .secrets.create -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ default (printf "%s-aws" (include "secret.common" $)) .secrets.name }}
  annotations:
    {{- include "common.annotations.standard" ( dict "customAnnotations" .secrets.additionalAnnotations "context" $ ) | nindent 4 }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" .secrets.additionalLabels "context" $ ) | nindent 4 }}
stringData:
  {{- if .secrets.credentials }}
  credentials: |
{{ include "common.tplvalues.render" (dict "value" .secrets.credentials "context" $) | indent 4 }}
  {{- end }}
  {{- if .secrets.config }}
  config: |
{{ include "common.tplvalues.render" (dict "value" .secrets.config "context" $) | indent 4 }}
  {{- end }}
{{- end -}}
{{- end -}}
{{- end }}