{{- with .Values.cluster }}
{{- if .secret.enabled }}
{{- if not .auth.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "secret.common" $ }}
  annotations:
    {{- include "common.annotations.standard" ( dict "customAnnotations" $.Values.commonAnnotations "context" $ ) | nindent 4 }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" $.Values.commonLabels "context" $ ) | nindent 4 }}
stringData:
  # SMTP settings
  SMTP_SERVER: "{{ .config.smtp.server }}"
  SMTP_FROM: "{{ .config.smtp.from }}"
  SMTP_TO: "{{ .config.smtp.to }}"
  SMTP_MAX_PER_HOUR: "{{ .config.smtp.max_per_hour }}"

  # Manager settings
  QUEUE_SIZE: '131072'
  AGENTS_DISCONNECTION_TIME: '10m'
  AGENTS_DISCONNECTION_ALERT_TIME: '168h'

  # Indexer connection
  INDEXER_URL: 'https://{{ include "common.names.fullname" $ }}-indexer-api:9200'

  # Cluster settings
  CLUSTER_AUTH_KEY: '{{ .auth.key }}'
  CLUSTER_NAME: '{{ include "common.names.fullname" $ }}'
  CLUSTER_NODE_NAME: '{{ include "common.names.fullname" $ }}-manager-master-0.{{ include "common.names.fullname" $ }}-cluster'

  # Agent registration auth mode
  USE_PASSWORD_AUTH: '{{ if .auth.usePassword }}yes{{ else }}no{{ end }}'
  {{- if .auth.usePassword }}
  AUTHD_PASS: '{{ .auth.agentPassword | default "WazuhAgent123!" }}'
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
