{{ with .Values.integration.jira -}}
{{- if and .enabled (not .externalSecret) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "secret.integration-jira" $ }}
  annotations:
    {{- include "common.annotations.standard" ( dict "customAnnotations" .additionalAnnotations "context" $ ) | nindent 4 }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" .additionalLabels "context" $ ) | nindent 4 }}
stringData:
  JIRA_CONFIG: |
    <integration>
        <name>custom-jira</name>
        <hook_url>{{ include "common.tplvalues.render" (dict "value" .webhookUrl "context" $) }}</hook_url>
        <api_key>{{ include "common.tplvalues.render" (dict "value" .apikey "context" $) }}</api_key>
        <options>{{ include "common.tplvalues.render" (dict "value" .projectKey "context" $) }}</options>
        <alert_format>json</alert_format>
        <level>14</level>
    </integration>

{{- end -}}
{{- end }}