apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" $ }}-indexer-conf
  annotations:
    {{- include "common.annotations.standard" ( dict "customAnnotations" $.Values.commonAnnotations "context" $ ) | nindent 4 }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" $.Values.commonLabels "context" $ ) | nindent 4 }}
data:
  "opensearch.yml": |
    {{ $.Files.Get "files/configs/opensearch/opensearch.yml" | nindent 4 }}
  "internal_users.yml": |
    {{ $.Files.Get "files/configs/opensearch/internal_users.yml" | nindent 4 }}