apiVersion: v1
kind: Service
metadata:
  name: {{ include "common.names.fullname" $ }}-indexer-api
  namespace: {{ include "common.names.namespace" $ }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" $.Values.commonLabels "context" $ ) | nindent 4 }}
  annotations:
    {{- include "common.annotations.standard" ( dict "customAnnotations" $.Values.commonAnnotations "context" $ ) | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    {{- include "common.labels.matchLabels" ( dict "customLabels" $.Values.commonLabels "context" $ ) | nindent 4 }}
    app: {{ include "common.names.fullname" $ }}-indexer
  ports:
    - name: indexer-rest
      port: 9200
      targetPort: 9200
