/*
  Wazuh: overwrite some styles related to a empty button text is cut off in v7 OUI 1.19.0
  See https://github.com/wazuh/wazuh-dashboard/issues/423#issuecomment-2674893230
*/

.euiButtonEmpty {
    line-height: 1.5;
}

.euiButtonEmpty .euiButtonEmpty__text {
    display: flex;
}

/* See https://github.com/wazuh/wazuh-dashboard-plugins/issues/7330#issuecomment-2715160164 */
 @media (min-width: 992px) {
    .dscCanvas>.dscCanvas_results>div:nth-child(2) {
        /*
      When the screen size is too narrow; you can't even view the table, so I added a minimum height.
      This number is arbitrary, but it's a good starting point.
      See https://github.com/wazuh/wazuh-dashboard-plugins/issues/7330#issuecomment-2715690125
    */
        min-height: 267px;
        /*
      Why is the max-height calculated this way?
      This is to ensure that the table will fit well within the available viewport height.
      The 462px accounts for the combined height of the wrapping search bar, bar chart, and header elements.
    */
        max-height: calc(100vh - 462px);
    }
}

/* See https://github.com/wazuh/wazuh-dashboard-plugins/issues/7330#issuecomment-2715160164 */
 @media (min-width: 1174px) {
    .dscCanvas>.dscCanvas_results>div:nth-child(2) {
        /*
      Why is the max-height calculated this way?
      This is to ensure that the table will fit well within the available viewport height.
      The 422px accounts for the combined height of the non-wrapping search bar, bar chart, and header elements.
    */
        max-height: calc(100vh - 422px);
    }
}

.app-wrapper {
    background-color: #FFFFFF !important;
}

#opensearch-dashboards-body>div>div.app-wrapper.hidden-chrome>div>div.application>div>ul>form {
    border: none;
    gap: 20px;
    display: grid;
    box-shadow: none;
}

.euiFieldText--compressed {
    height: 50px;
    border-radius: 10px;
}

.euiFormControlLayout--group.euiFormControlLayout--compressed {
    height: 50px;
    border-radius: 10px;
}

#opensearch-dashboards-body>div>div.app-wrapper.hidden-chrome>div>div.application>div>ul>div.euiText.euiText--small>div {
    color: #6a6767 !important;
}

#opensearch-dashboards-body>div>div.app-wrapper.hidden-chrome>div>div.application>div>ul>div.euiText.euiText--medium>div {
    color: #6a6767 !important;
    font-weight: bold;
}

.wz-login .btn-login {
    background-color: #d1ae43 !important;
    border-radius: 10px !important;
    border: none !important;
    height: 50px !important;
}
